.header {
  padding: 50px 100px;
  text-align: center;
  text-transform: uppercase;
  background-color: #57e663;
  font-size: 32px;
  font-family: serif;
  color: aliceblue;
}
.main {
  background-color: #245bf2;
  padding: 100px;
  font-size: 38px;
  color: aliceblue;
  font-family: serif "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.footer {
  background-color: #ef0ba3;
  padding: 50px;
  font-size: 32px;
  text-align: center;
  font-family: serif;
  color: aliceblue;
  text-transform: uppercase;
}
